[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
cookiecutter = "*"
pyyaml = "*"

[requires]
python_version = "3.12"

[scripts]
test = "pytest -s -v --ff --doctest-modules tests"
