[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
isort = "*"
pyproject-flake8 = "*"
black = "*"
tox = "*"
mypy = "*"
pyparsing = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"

[scripts]
check = "tox -e isort,black,flake8,mypy -p 4"
test = "tox -e {{ cookiecutter.pytest_target }}"
ci = "tox -p 4"
fmt = "tox -e black"
ist = "tox -e isort"
dev = "pip install --editable ."
install = "pip install ."
dist = "python setup.py sdist"
