[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"
tox = "*"
mypy = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"

[scripts]
check = "tox -e black,flake8,mypy -p 3"
test = "tox -e {{ cookiecutter.pytest_target }}"
