[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
setuptools = "*"
pytest = "*"
black = "*"
tox = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"

[scripts]
check = "tox -e black,ruff,mypy -p 3"
test = "tox -e {{ cookiecutter.pytest_target }}"
ci = "tox -e black,ruff,mypy,{{ cookiecutter.pytest_target }} -p 4"
dev = "pip install --editable ."
install = "pip install ."
dist = "python setup.py sdist"
